{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ lesson.title }}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-black text-white">

    <!-- Навигация -->
    <header class="container flex items-center justify-between py-4">
        <a href="{% url 'home' %}" class="uppercase text-3xl font-bold text-primary-1">Sakura Flow</a>
    </header>

    <!-- Контент урока -->
    <main class="container py-8">
        <h1 class="text-4xl mb-4">{{ lesson.title }}</h1>  <!-- Заголовок урока -->

        <section class="lesson-content mb-8">
            {% if lesson.image %}
                <img src="{{ lesson.image.url }}" alt="{{ lesson.title }}" class="mt-4 max-w-full">
                <p class="text-lg">{{ lesson.content }}</p>  <!-- Контент урока -->
            {% endif %}
        </section>
    </main>

        
    <!-- Подвал + -->
    <footer class="bg-black py-10 md:py-16">
        <div class="container mx-auto">
            <!-- Верхний блок -->
            <div class="flex flex-col md:flex-row justify-between items-center space-y-2  md:items-start">
                <h3 class="font-Manrope font-medium text-xl md:text-[32px] uppercase  text-white text-center md:text-left mb-4 md:mb-0">
                    г. Владивосток
                </h3>
                <h3 class="font-Manrope font-medium text-xl md:text-[32px] uppercase text-white text-center md:text-left">
                    Sakuraflow@yandex.ru
                </h3>
            </div>
    
            <!-- Логотип -->
            <div class="flex justify-center py-12">
                <img src="{%static '/images/svg/footer.svg'%}" alt="Footer_Logo" class="w-auto">
            </div>
    
            <!-- Нижний блок -->
            <div class="flex flex-col md:flex-row justify-between gap-10">
                <!-- Навигация -->
                <div class="text-center md:text-left">
                    <h3 class="font-Manrope font-medium text-2xl uppercase text-white mb-4">Навигация</h3>
                    <ol class="space-y-3">
                        <li>
                            <a href="{%url 'figma_course'%}" class="font-Manrope font-medium text-[16px] text-grey hover:text-white">
                                Бесплатный курс по Figma
                            </a>
                        </li>
                        <li>
                            <a href="{%url 'all_courses' %}" class="font-Manrope font-medium text-[16px] text-grey hover:text-white">
                                Каталог курсов
                            </a>
                        </li>
                        <li>
                            <a href="{%url 'articles' %}" class="font-Manrope font-medium text-[16px] text-grey hover:text-white">
                                Статьи о UX/UI
                            </a>
                        </li>
                    </ol>
                </div>
    
                <!-- Соцсети -->
                <div class="text-center md:text-left">
                    <h3 class="font-Manrope font-medium text-2xl uppercase text-white mb-4">Соц.сети</h3>
                    <ol class="space-y-3">
                        <li>
                            <a href="https://t.me/+-2_3XbsucvMxMTVi" class="font-Manrope font-medium text-[16px] text-grey hover:text-white">
                                Telegram
                            </a>
                        </li>
                        <li>
                            <a href="https://vk.com/club228572416" class="font-Manrope font-medium text-[16px] text-grey hover:text-white">
                                VK
                            </a>
                        </li>
                    </ol>
                </div>
    
                <!-- Права -->
                <div class="text-center md:text-left">
                    <h3 class="font-Manrope font-medium text-[16px] uppercase text-white">
                        © 2024 Все права защищены
                    </h3>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
